# Telegram Bot Configuration
BOT_TOKEN=242464316:AAFxxhWAurba-hw526Uo6TxjO7WS8B7PIio
ADMIN_CHAT_ID=

# PostgreSQL Database Configuration
POSTGRES_DB=situpstraightdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=generate_your_strong_password_here
